{% block lgw_order_list %}
    <sw-page class="sw-order-list">
        {% block lgw_order_list_search_bar %}
            <template #search-bar>
                <sw-search-bar initialSearchType="lengow_order"
                               :placeholder="$tc('lengow-connector.order.filter.search_placeholder')"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block lgw_order_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block lgw_order_list_smart_bar_header_title %}
                    <h2>
                        {% block lgw_order_list_smart_bar_header_title_text %}
                            {{ $tc('lengow-connector.page.orders') }}
                        {% endblock %}
                        {% block lgw_order_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                    <span v-if="debugMode" class="blue-frame">
                        {{ $tc('lengow-connector.order.debug_warning_message') }}
                    </span>
                    <div id="lgw-sync-data">
                        <div v-if="!settingsLoading && !orderWithErrorLoading && !orderWaitingToBeSentLoading">
                            <p>
                                {{ orderWithError }} {{ $tc('lengow-connector.order.order_with_error') }},
                                {{ orderWaitingToBeSent }} {{ $tc('lengow-connector.order.order_waiting_to_be_sent') }}
                            </p>
                            <p v-if="Object.keys(lastSynchronisation).length !== 0">
                                {{ $tc('lengow-connector.order.last_synchronisation') }}
                                {{ lastSynchronisation.date | date({hour: '2-digit', minute: '2-digit'}) }}
                            </p>
                            <p v-else>
                                {{ $tc('lengow-connector.order.no_synchronisation') }}
                            </p>
                            <p v-if="reportMailEnabled">
                                {{ $tc('lengow-connector.order.report_sent_to') }}
                                <span v-if="reportMailAddress" >{{ reportMailAddress }}</span>
                                <span v-else>{{ defaultEmail }}</span>
                            </p>
                            <p v-else>
                                {{ $tc('lengow-connector.order.no_report_sent') }}
                                <routerLink :to="{ name: 'lengow.connector.settings' }">
                                    {{ $tc('lengow-connector.order.change_this') }}
                                </routerLink>
                            </p>
                        </div>
                        <sw-loader v-else size="20px"></sw-loader>
                    </div>
                {% endblock %}
            </template>
        {% endblock %}
        {% block lgw_order_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block lgw_order_list_smart_bar_actions_slot %}

                    {% block lgw_order_list_smart_bar_actions_synchronise %}
                        <sw-button variant="primary"
                                   @click="synchroniseOrders"
                                   :isLoading="isLoading">
                            {{ $tc('lengow-connector.order.synchronise_orders') }}
                        </sw-button>
                    {% endblock %}

                {% endblock %}
            </template>
        {% endblock %}

        {% block lgw_order_list_content %}
            <template #content>
                <div id="lgw-order-grid">
                    {% block lgw_order_list_grid %}
                        <sw-data-grid ref="swLengowOrderGrid"
                                           :items="lengowOrders"
                                           :columns="lengowOrderColumns"
                                           :repository="lengowOrderRepository"
                                           :showSelection="true"
                                           :showActions="false"
                                           :allowDelete="false"
                                           @selection-change="updateSelection">
                            <template slot="bulk">
                                {% block sw_data_grid_bulk_selected_actions_content %}
                                    <span class="sw-data-grid__bulk-selected bulk-link">
                                        <a class="link link-default" @click="massReImportOrders">
                                            {{ $tc('lengow-connector.order.mass_action_reimport') }}
                                        </a>
                                        <a class="link link-default" @click="massReSendActions">
                                            {{ $tc('lengow-connector.order.mass_action_resend') }}
                                        </a>
                                    </span>
                                {% endblock %}
                            </template>
                            {% block lgw_order_list_grid_columns %}
                                {% block lgw_order_list_grid_columns_order_is_in_error %}
                                    <template #column-isInError="{ item }">
                                        <lgw-action-button v-if="item.isInError && item.orderProcessState !== 2"
                                                           :lengowOrderId="item.id"
                                                           :orderProcessState="item.orderProcessState"
                                                           :onRefresh="onRefresh">
                                        </lgw-action-button>
                                        <div v-else>
                                            <div v-if="item.order && item.orderProcessState === 1">
                                                <lgw-action-label :orderId="item.order.id">
                                                </lgw-action-label>
                                            </div>
                                            <div v-else>
                                            </div>
                                        </div>
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_order_lengow_state %}
                                    <template #column-orderLengowState="{ item }">
                                        <lgw-order-state-label :orderLengowState="item.orderLengowState">
                                        </lgw-order-state-label>
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_order_types %}
                                    <template #column-orderTypes="{ item }">
                                        <div v-if="Object.keys(item.orderTypes).length">
                                            <lgw-order-type-icon v-for="orderType in getOrderTypes(item.orderTypes)"
                                                                 :type="orderType.type"
                                                                 :label="orderType.label">
                                            </lgw-order-type-icon>
                                        </div>
                                        <div v-else></div>
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_order_state %}
                                    <template #column-order.stateMachineState.name="{ item }">
                                        <sw-label v-if="item.order" :variant="getVariantFromOrderState(item.order)" appearance="pill">
                                            {{ item.order.stateMachineState.translated.name }}
                                        </sw-label>
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_order_number %}
                                    <template #column-order.orderNumber="{ item }">
                                        <template v-if="item.order">
                                            <router-link :to="{ name: 'sw.order.detail', params: { id: item.order.id } }">
                                                {{ item.order.orderNumber }}
                                            </router-link>
                                        </template>
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_order_date %}
                                    <template #column-orderDate="{ item }">
                                        {{ item.orderDate | date({hour: '2-digit', minute: '2-digit'}) }}
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_delivery_country_iso %}
                                    <template #column-deliveryCountryIso="{ item }">
                                        <lgw-country-icon :codeIsoA2="item.deliveryCountryIso">
                                        </lgw-country-icon>
                                    </template>
                                {% endblock %}
                                {% block lgw_order_list_grid_columns_total_paid %}
                                    <template #column-totalPaid="{ item }">
                                        <span :title="getOrderItemTooltip(item)">
                                            {{ item.totalPaid | currency(item.currency) }}
                                        </span>
                                    </template>
                                {% endblock %}
                            {% endblock %}
                        </sw-data-grid>
                    {% endblock %}

                    {% block lgw_order_list_empty_state %}
                        <sw-empty-state
                                v-if="!isLoading && !total"
                                :title="$tc('lengow-connector.order.no_order_title')"
                                :subline="$tc('lengow-connector.order.no_order_description')">
                        </sw-empty-state>
                    {% endblock %}

                    {% block lgw_order_list_grid_loader %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}

                    {% block lgw_order_list_modal %}
                        <sw-modal v-if="showSyncModal"
                                  @modal-close="onCloseSynResultModal"
                                  :title="syncModalTitle"
                                  variant="default">
                            <ul>
                                <li v-for="message in syncModalMessages">
                                    {{ message }}
                                </li>
                            </ul>
                        </sw-modal>
                    {% endblock %}

                </div>
            </template>

            {% block lgw_order_list_sidebar %}
                <template #sidebar>
                    <sw-sidebar class="sw-order-list__sidebar">
                        {% block lgw_order_list_sidebar_refresh %}
                            <sw-sidebar-item
                                    icon="solid-redo"
                                    :title="$tc('sw-order.list.titleSidebarItemRefresh')"
                                    @click="onRefresh">
                            </sw-sidebar-item>
                        {% endblock %}

                        {% block lgw_order_list_sidebar_filter %}
                            <sw-sidebar-item icon="solid-filter"
                                             :title="$tc('sw-order.list.titleSidebarItemFilter')">

                                {% block lgw_order_list_sidebar_filter_items %}

                                    {% block lgw_order_list_sidebar_filter_order_state %}
                                        <sw-multi-select
                                                :label="$tc('lengow-connector.order.filter.order_state')"
                                                :options="availableOrderLengowStates"
                                                :isLoading="filterLoading"
                                                :value="orderLengowStateFilter"
                                                    @update:value="onChangeOrderLengowStateFilter"
                                                    @change="onChangeOrderLengowStateFilter"
                                        >
                                        </sw-multi-select>
                                    {% endblock %}

                                    {% block lgw_order_list_sidebar_filter_order_type %}
                                        <sw-single-select
                                                :label="$tc('lengow-connector.order.filter.order_type')"
                                                :options="availableOrderTypes"
                                                :isLoading="filterLoading"
                                                :value="orderTypeFilter"
                                                @update:value="onChangeOrderTypeFilter"
                                                @change="onChangeOrderTypeFilter"
                                        >
                                        </sw-single-select>
                                    {% endblock %}

                                    {% block lgw_order_list_sidebar_filter_marketplace %}
                                        <sw-multi-select
                                                :label="$tc('lengow-connector.order.filter.marketplace')"
                                                :options="availableMarketplaces"
                                                :isLoading="filterLoading"
                                                :value="marketplaceFilter"
                                                @update:value="onChangeMarketplaceFilter"
                                                @change="onChangeMarketplaceFilter"
                                        >
                                        </sw-multi-select>
                                    {% endblock %}

                                {% endblock %}
                            </sw-sidebar-item>
                        {% endblock %}
                    </sw-sidebar>
                </template>
            {% endblock %}
        {% endblock %}
    </sw-page>
{% endblock %}
